{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}





{% block page_content %}

<div class="page-header">
    <h4>Login or Signup for Tour Guides!</h4>
</div>

<body>


<a href="/login" type="button" class = "btn btn-lg btn-secondary btn-info">
Login
</a>
<a href="/usersignup" type="button" class = "btn btn-lg btn-secondary btn-info">
Sign Up as Tourist
</a>
<a href="/tourguidesignup" type="button" class = "btn btn-lg btn-secondary btn-info">
Sign Up as Tour Guide
</a>





</body>

{% endblock %}

